body {
	font-family: Futura PT;
	font-size: 28px;
	color:white;
	text-align:center;

}

a {
	color:red;
}

.container{
	display:flex;
	flex-wrap:wrap;
	width:100%;
	height:100vh;
	background-image: url("bg/ssbg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align:center;
}

.container img{
	width:100%;
	height:100vh;
	margin:auto;
}
