body {
	background-color:azure;
	font-family:arial;
}

.background{
	text-align:center;

}

.background.one{
	text-shadow:30px 30px 10px pink;
}

.background.two{
	text-shadow:40px 40px 10px beige;
}

.background.three{
	text-shadow:20px 0px 10px cyan;
}

.background.four{
	text-shadow:0px 0px 10px yellow;
}

.mid{

}

.mid.one{
	color:salmon;
}

.mid.two{
	color:pink;
}

 .mid.three{
 	color:blue;
 }

 .mid.four{
 	color:lightblue;
 }

 .text{

 }

 .text.one{
 	font-size:30px;
 }

 .text.two{
 	font-size:70px;
 }

 .text.three{
 	font-size:200px;
 	line-height:180px;
 }

 .text.four{
 	font-size:300px;
 	line-height:235px;
 }








