body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color:lime;
	color:#969696;
}

a {
	color:red;
}

* {
	outline: 1px solid cyan;
}

.menu{
	width:80px;
	height:80px;
	background-color:red;
	border-radius:50%;
	position:fixed;
	top:10px;
	right:10px;

}

.container{
	display:flex;
	flex-wrap:wrap;
}

.item img {
	width:100%;
}

.w1of4 {
	width:25%;
}

.w2of4{
	width:50%;
}

.w1of2{
	width:50%;
}

/* title */

.title{
	font-size:100px;
	text-alight:center;
	padding-top:60px;
}

.masthead{
	align-content: center;
	justify-content: space-around;
}
