body {
	font-family: Orator Std;
	font-size: 32px;
	background-color:black;
}

a {
	color:red;
}

/*menu*/

.menu{
	width:75px;
	height:75px;
	border-radius:100%;
	background-color:blue;
	position:fixed;
	top:100px;
	cursor:pointer;
	right:100px;
	z-index:10;
	padding:50px;
	transition:1s;
}

.close{
	width:75px;
	height:75px;
	background-color:yellow;
	position:fixed;
	top:100px;
	right:100px;
	cursor:pointer;
	z-index:10;
	padding:50px;
	display:none;
}

.close.show{
	display:block;
	transition:1s;
}

.essay{
	color:white;
	width:50%;
	height:100vh;
	background-color:grey;
	position:fixed;
	right:0px;
	top:0px;
	text-align:center;
	overflow:scroll;
	margin-right:-50%;
}

.essay.slide{
	margin-right:0px;
	transition:1s;
}

.essay h1{
	font-size:65px;
	text-align:center;
	padding:50px;
	font-family:Bebas Neue;
}

.essay p{
	padding:20px;
}

.footnotes{
	font-size:10px;
	padding:50px;
}


/*titlepage*/

.container{
	display:flex;
	flex-wrap:wrap;
}

.item{
	width:100%;
}

.titlepage{
	height:100vh;
	background-image:url("titlepagee.jpg");
	background-size:contain;
	background-position:center;
}



/*black*/

.container {
	display:flex;
	flex-wrap:wrap;
}

.item {
	width:100%;
}

.title{
	height:100vh;
}

.title img{
	width:100%;
	display: block;
}

.w1of1{
	width:100%;
}

.black{
	background-image: url("first.jpg");
	background-size:100%;
	background-position:center;
	background-repeat:no-repeat;
	width:100%;
}

.bbg img{
	height:100vh;
	position:center;
}

.drag-image {
	width: 10px;
  	cursor: move;
  	box-shadow:10px 10px 10px gray;
  	padding: 0px;
  	position: relative;
}


/*blue*/

.blue{
	background-color:#25408f;
	padding:50px;
}

.item img{
	position:center;
	width:100%;
}

/*white*/

.white{
	background-color:white;
}

.bg{
	padding:400px;
	color:red;
	font-size:50px;
	width:100%;
	position:center;
	height:300px;
	font-family: Orator Std;
	text-align:center;
	overflow:scroll;
}

.bg{
	background-image:url("image3_1.png");
	background-size:cover;
	background-position:bottom;
}

.bg img{
	width:100%;
}

/*text1*/

.text1{
	background-color: black;
	font-size:40px;
	color:white;
	text-align:left;
	font-family: Bebas Neue;
	padding-top:30px;
	padding-bottom:30px;
}

/*symbol*/

.item{
	width:100%;
}

.one{
	width:100%;
	display:block;
	position:center;
}

.two{
	width:100%;
	display:block;
	position:center;
}

.symbol{
	background-color:black;
	padding-left:10px;
	height:100vh;
}

.symbol:hover{
	background-color:black;
	width:100%;
	transition:2s;
	position:center;
	color:white;
	font-size:30px;
	font-family: Orator Std;
	text-align:justify-all;
	padding:100px;
	overflow:scroll;
}

.w1of2{
	width:50%;
}

.text2{
	background-color: black;
	font-size:40px;
	color:white;
	text-align:right;
	font-family: Bebas Neue;
	padding-top:30px;
	padding-bottom:30px;
	width:100%;
}

/*hologram*/

.drag-image {
	width: 10px;
  	cursor: move;
  	box-shadow:10px 10px 10px gray;
  	padding: 0px;
  	position: relative;
}

.bgg{
	background-image:url("holoset2.jpg");
	width:100%;
	background-position:center;
	background-size:100%;
	background-repeat:no-repeat;
}

.bgg img{
	width:70%;
}

/*end*/

.end{
	color:white;
	padding:30px;
	font-family:Bebas Neue;
	text-align:center;

}


